.btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 0px;
  background-color: transparent;
  letter-spacing: 0.35px;
  &_black {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff !important;
    &:hover {
      background-color: #3C4043;
      border-color: #3C4043;
    }
  }
  &[disabled] {
    background: #C3C5C7;
    border-color: #C3C5C7;
    color: #ABABAB !important;
    cursor: no-drop;
  }
}