.btn_custom:focus {
  outline: none !important;
  box-shadow: none;
}
.btn_custom {
  cursor: pointer !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 0px;
  background-color: transparent;
  letter-spacing: 0.35px;
  border: none;
  &[disabled],
  &.disabled {
    opacity: 0.4;
    cursor: no-drop;
  }
  &_black {
    background-color: #000000;
    color: #ffffff !important;
    .st_1 {
      stroke: #ffffff;
    }
    &:hover {
      background-color: #3C4043;
    }
  }
  &_blue {
    background-color: #206BAA;
    color: #ffffff !important;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover {
      background-color: #135287;
    }
  }
  &_green {
    background-color: #43A047;
    color: #ffffff !important;
    .st_1 {
      stroke: #ffffff;
    }
    &:hover {
      background-color: #319035;
      .st_1 {
        stroke: #ffffff;
      }
    }
  }
  &_gray {
    background-color: #808080;
    color: #ffffff !important;
    &:hover {
      background-color: #808080;
    }
  }
  &_big {
    max-width: 100%;
    width: 260px;
  }
  &_min {
    max-width: 100%;
    width: 150px;
  }
  &_radius {
    border-radius: 4px;
  }
  &_h_52 {
    min-height: 52px;
  }
}