.btn:focus {
  outline: none !important;
  box-shadow: none;
}
.btn {
  cursor: pointer !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 0px;
  background-color: transparent;
  letter-spacing: 0.35px;
  border: none;
  &_black {
    background-color: #000000;
    color: #ffffff !important;
    .st_1 {
      stroke: #ffffff;
    }
    &:hover {
      background-color: #3C4043;
    }
    &[disabled] {
      background: #C3C5C7;
      color: #ABABAB !important;
      cursor: no-drop;
      .st_1 {
        stroke: #ABABAB;
      }
    }
  }
  &_blue {
    background-color: #206BAA;
    color: #ffffff !important;
    &:hover {
      background-color: #135287;
    }
    &[disabled] {
      background: #A1BACF;
      cursor: no-drop;
      .st_1 {
        stroke: #ABABAB;
      }
    }
  }
  &_big {
    width: 100%;
    max-width: 260px;
  }
  &_radius {
    border-radius: 4px;
  }
  &_h_52 {
    min-height: 52px;
  }
}