:root {
  --Primary-Base-Black: #252525;
  --Primary-Base-Red: #F44336;
}
.form__control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AEAEAE;
}
.form__control::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
}
.form__control:-ms-input- { /* IE 10+ */
  color: #AEAEAE;
}
.form__control:-moz-placeholder { /* Firefox 18- */
  color: #AEAEAE;
}
.form {
  &__label {
    color: var(--Primary-Base-Black);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 14px;
    display: inline-block;
    span {
      color: var(--Primary-Base-Red);
    }
  }
  &__control {
    border-radius: 2px;
    border: 1px solid #E0E0E0;
    background: $white;
    padding: 8px;
    color: #252525;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.246px;
    height: 38px;
    width: 100%;
    outline: none;
  }
  &__select {
    outline: none;
    border: 1px solid #E0E0E0;
    padding: 8px;
    height: 38px;
    width: 100%;    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff url(../img/png/arrow_down.png) no-repeat right 10px center;
  }
  &__textarea {
    height: 115px;
    max-height: 115px;
  }
}
.validated {
  .form__control {
    border-color: #6dc22e;
  }
}
.no_validated {
  .form__label {
    color: #a00;
  }
  .form__control {
    border-color: #a00;
  }
}