@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.bg_gray {
  background: #F4F4F4;
}
body {
  margin: 0 !important;
  &.modal-open {
    overflow: hidden;
    background: rgba(0,0,0, 0.3) !important;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: none;
}
.fade {
  transition: opacity .15s linear;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: .5;
  display: block;
}
.osdrs {
  @import "reset";
  font-family: "Open Sans", sans-serif;
  color: #231F20;
  font-size: 15px;
  line-height: 1.4;
  // margin-top: 50px;
  // margin-bottom: 50px;
  .box_white_block {
    background-color: #ffffff;
    padding: 35px 50px;
    @media (max-width: 991.98px) {
      padding: 25px 30px;
    }
    @media (max-width: 767.98px) {
      padding: 20px;
    }
  }
  .to_back {
    color: #0872BA;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 158.334%;
    letter-spacing: 0.35px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
    svg {
        margin-right: 8px;
    }
  }
  .level_block {
    width: 85px;
    min-width: 85px;
    @media (max-width: 991.98px) {
      width: 55px;
      min-width: 55px;
    }
  }
  
  @import "variables";
  @import "layout";
  @import "table";
  @import "buttons";
  @import "step2";
  @import "step3";
  @import "step4";
  @import "step5";
  @import "step6";
  @import "forms";
  @import "modal";
}