.table_responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  &_custom {
    width: 100%;
  }
  &__th {
    color: #AEAEAE;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.35px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #E1E1E1;
    white-space: nowrap;
    &:first-child {
      text-align: left;
    }
    &_min {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__td {
    padding: 45px;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
    @media (max-width: 991.98px) {
      padding: 25px;
    }
    @media (max-width: 767.98px) {
      padding: 20px 15px;
    }
    &_first {
      text-align: left;
      padding-left: 0;
      border-right: 1px solid #E1E1E1;
      vertical-align: top;
    }
    &_min {
      padding: 10px;
    }
  }
  &__title {
    color: #231F20;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.35px;
    margin-bottom: 4px;
    white-space: nowrap;
    @media (max-width: 991.98px) {
      font-size: 20px;
    }
  }
  &__text {
    color: #767676;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    @media (max-width: 767.98px) {
      font-size: 13px;
    }
  }
}
.form_select {
  border-radius: 4px;
  border: 2px solid #DEE2E6;
  outline: none !important;
  background: #FFF;
  color: #3F444A;
  font-size: 16px;
  font-weight: 600;
  padding-left: 24px;
  width: 76px;
  height: 48px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../img/icon/select_arrow.svg') no-repeat right 15px center;
  transition: all 0.3s;
}
.wrapper_table_min {
  margin-top: 30px;
  max-width: 330px;
  margin-left: auto;
}
.table_min {
  width: 100%;
  &__caption {
    color: #0872BA;
    font-size: 24px;
    letter-spacing: 0.35px;
    margin-bottom: 10px;
  }
  &__td {
    color: #231F20;
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #E1E1E1;
  }
  &__svg {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.wrapper_exam_list {
  
}
.exam_list {
  &__top {
    // padding-left: 38px;
    // padding-right: 4px;
  }
  &__title {
    color: #AEAEAE;
    font-size: 15px;
    letter-spacing: 0.35px;
    font-weight: 400;
    text-align: left;
    padding: 5px 15px;
    white-space: nowrap;
    &_first {
      padding-left: 10px;
      min-width: 280px;
      width: 280px;
    }
    &_three {
      padding-left: 5px;
      padding-right: 30px;
    }
    &:last-child {
      padding-right: 6px;
    }
  }
  &__item {
    margin-bottom: 20px;
  }
}
.exam_info {
  padding-top: 6px;
  padding-bottom: 6px;
  &__inner {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 10px;
    border-radius: 4px;
    justify-content: space-between;
    width: 100%;
    &.completed {
      background-color: #DAE4CD;
    }
  }
  &__status {
    padding-left: 15px;
    padding-right: 15px;
  }
  &__person {
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
  }
  &__date {
    padding-left: 15px;
    padding-right: 0;
  }
}
.exam_info__status {
  min-width: 20px;
  background-image: url('../img/png/checkbox_off.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px;
}
.completed {
  .exam_info__inner {
    background-color: #DAE4CD;
  }
  .exam_info__status {
    background-image: url('../img/png/checkbox_on.png');
  }
}
.exam_order {
  display: flex;
  align-items: center;
  min-width: 290px;
  width: 290px;
  &__num {
    color: #0872BA;
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-decoration-line: underline;
    margin-right: 15px;
  }
  &__date {
    color: #F44336;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  &__item {
    
  }
  &__link {
    padding: 3px 7px;
    border: 1px solid #CFC8D8;
    margin-left: -1px;
    color: #4370B5;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    &:first-child {
      .pagination__link {
        margin-left: 0;
      }
    }
    &.active {
      background: #E9E6ED;
    }
    &_prev {
      svg {
        margin-top: 2px;
      }
    }
    &_next {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  &__dots {
    color: #4370B5;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px;
  }
}
.module_info {
  display: flex;
  &__item {
    width: 33.33%;
    padding-left: 20px;
    padding-right: 20px;
  }
}