@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  margin: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container_lg {
  max-width: 954px;
}

.container_min {
  max-width: 410px;
}

body, html {
  min-height: 100%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-20 {
  padding-left: 20px;
}

.pr-0 {
  padding-right: 0 !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-sm-6,
.col-sm-4,
.col-sm-8,
.col-md-6,
.col-md-4,
.col-md-8,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.row-min {
  margin-left: -5px;
  margin-right: -5px;
}

.col-min {
  padding-left: 5px;
  padding-right: 5px;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.order-1 {
  order: 1;
}

.order-12 {
  order: 12;
}

@media (min-width: 576px) {
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .order-lg-1 {
    order: 1;
  }
  .order-lg-12 {
    order: 12;
  }
  .text-md-end {
    text-align: right;
  }
}
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

tbody::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #1E1E1E;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #1E1E1E;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.35px;
}
@media (max-width: 991.98px) {
  .title {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .title {
    font-size: 18px;
  }
}

.text {
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1200px) {
  .text {
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {
  .text {
    font-size: 16px;
  }
}

a {
  color: #0872BA;
  transition: all 0.3s;
  text-decoration: none;
}

.color_white {
  color: #ffffff !important;
}

.color_black {
  color: #000924 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.w-100 {
  width: 100%;
}

.text-underline {
  text-decoration: underline;
}

.border-none {
  border: none !important;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-05 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .mb-40 {
    margin-bottom: 20px;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.table_responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table_custom {
  width: 100%;
}
.table__th {
  color: #AEAEAE;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.35px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E1E1E1;
  white-space: nowrap;
}
.table__th:first-child {
  text-align: left;
}
.table__td {
  padding: 45px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
}
@media (max-width: 991.98px) {
  .table__td {
    padding: 25px;
  }
}
@media (max-width: 767.98px) {
  .table__td {
    padding: 20px 15px;
  }
}
.table__td_first {
  text-align: left;
  padding-left: 0;
  border-right: 1px solid #E1E1E1;
  vertical-align: top;
}
.table__td_min {
  padding: 10px;
}
.table__title {
  color: #231F20;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.35px;
  margin-bottom: 4px;
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .table__title {
    font-size: 20px;
  }
}
.table__text {
  color: #767676;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
}
@media (max-width: 767.98px) {
  .table__text {
    font-size: 13px;
  }
}

.form_select {
  border-radius: 4px;
  border: 2px solid #DEE2E6;
  outline: none !important;
  background: #FFF;
  color: #3F444A;
  font-size: 16px;
  font-weight: 600;
  padding-left: 24px;
  width: 76px;
  height: 48px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../img/icon/select_arrow.svg") no-repeat right 15px center;
  transition: all 0.3s;
}

.wrapper_table_min {
  margin-top: 30px;
  max-width: 330px;
  margin-left: auto;
}

.table_min {
  width: 100%;
}
.table_min__caption {
  color: #0872BA;
  font-size: 24px;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
}
.table_min__td {
  color: #231F20;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #E1E1E1;
}
.table_min__svg {
  margin-left: 20px;
  margin-right: 20px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn {
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 0px;
  background-color: transparent;
  letter-spacing: 0.35px;
}
.btn_black {
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff !important;
}
.btn_black:hover {
  background-color: #3C4043;
  border-color: #3C4043;
}
.btn[disabled] {
  background: #C3C5C7;
  border-color: #C3C5C7;
  color: #ABABAB !important;
  cursor: no-drop;
}

.osdrs {
  /***
      The new CSS reset - version 1.11.2 (last updated 15.11.2023)
      GitHub page: https://github.com/elad2412/the-new-css-reset
  ***/
  /*
      Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
      - The "symbol *" part is to solve Firefox SVG sprite bug
      - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
   */
  /* Preferred box-sizing value */
  /* Fix mobile Safari increase font-size on landscape mode */
  /* Reapply the pointer cursor for anchor tags */
  /* Remove list styles (bullets/numbers) */
  /* For images to not be able to exceed their container */
  /* removes spacing between cells in tables */
  /* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
  /* revert the 'white-space' property for textarea elements on Safari */
  /* minimum style to allow to style meter element */
  /* preformatted text - use only for this feature */
  /* reset default text opacity of input placeholder */
  /* fix the feature of 'hidden' attribute.
     display:revert; revert to element instead of attribute */
  /* revert for bug in Chromium browsers
     - fix for the content editable attribute will work properly.
     - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
  /* apply back the draggable feature - exist only in Chromium and Safari */
  /* Revert Modal native behavior */
  /* Remove details summary webkit styles */
  font-family: "Open Sans", sans-serif;
  color: #231F20;
  font-size: 15px;
  line-height: 1.4;
  margin-top: 50px;
  margin-bottom: 50px;
}
.osdrs *,
.osdrs *::before,
.osdrs *::after {
  box-sizing: border-box;
}
.osdrs html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
.osdrs a, .osdrs button {
  cursor: revert;
}
.osdrs ol, .osdrs ul, .osdrs menu, .osdrs summary {
  list-style: none;
}
.osdrs img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
.osdrs table {
  border-collapse: collapse;
}
.osdrs input, .osdrs textarea {
  -webkit-user-select: auto;
}
.osdrs textarea {
  white-space: revert;
}
.osdrs meter {
  -webkit-appearance: revert;
  appearance: revert;
}
.osdrs :where(pre) {
  all: revert;
  box-sizing: border-box;
}
.osdrs ::placeholder {
  color: unset;
}
.osdrs :where([hidden]) {
  display: none;
}
.osdrs :where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
.osdrs :where([draggable=true]) {
  -webkit-user-drag: element;
}
.osdrs :where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}
.osdrs ::-webkit-details-marker {
  display: none;
}

.bg_gray {
  background: #F4F4F4;
}

.box_white_block {
  background-color: #ffffff;
  padding: 35px 50px;
}
@media (max-width: 991.98px) {
  .box_white_block {
    padding: 25px 30px;
  }
}
@media (max-width: 767.98px) {
  .box_white_block {
    padding: 20px;
  }
}

.to_back {
  color: #0872BA;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 158.334%;
  letter-spacing: 0.35px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}
.to_back svg {
  margin-right: 8px;
}

.level_block {
  width: 85px;
  min-width: 85px;
}
@media (max-width: 991.98px) {
  .level_block {
    width: 55px;
    min-width: 55px;
  }
}

.exam_modul {
  padding: 10px 24px;
  border: 1px dashed #E1E1E1;
  background: rgba(236, 241, 248, 0.21);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
@media (max-width: 767.98px) {
  .exam_modul {
    display: block;
    max-width: 380px;
    margin: 0 auto 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.exam_modul__item_exam {
  display: flex;
  align-items: center;
  width: 40%;
}
@media (max-width: 767.98px) {
  .exam_modul__item_exam {
    width: 100%;
    margin-bottom: 20px;
  }
}
.exam_modul__name_exam {
  padding-left: 30px;
}
@media (max-width: 991.98px) {
  .exam_modul__name_exam {
    padding-left: 15px;
  }
}
.exam_modul__text {
  color: #AEAEAE;
  font-size: 14px;
  letter-spacing: 0.35px;
}
.exam_modul__payment_amount {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
@media (max-width: 991.98px) {
  .exam_modul__payment_amount {
    padding-left: 10px;
    padding-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .exam_modul__payment_amount {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    justify-content: end;
  }
}
.exam_modul__svg {
  margin-right: 20px;
}
@media (max-width: 991.98px) {
  .exam_modul__svg {
    margin-right: 10px;
  }
}
@media (max-width: 767.98px) {
  .exam_modul__edit_block {
    text-align: right;
  }
}

.candidate_info {
  font-size: 22px;
  font-weight: 700;
  margin-right: 30px;
}
@media (max-width: 991.98px) {
  .candidate_info {
    margin-right: 10px;
    font-size: 20px;
  }
}

.all_price {
  font-size: 22px;
  font-weight: 700;
}

.text_md {
  color: #AEAEAE;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.calendar_block {
  border-radius: 4px;
  border: 2px solid #DEE2E6;
  background: #ECEFF1;
  padding: 34px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 118px;
  height: 98px;
}
.calendar_block__title {
  font-size: 22px;
  font-weight: 700;
}
.calendar_block__subtitle {
  color: #AEAEAE;
  font-size: 15px;
}

.wrapper_table_module {
  max-width: 835px;
  margin-left: auto;
  margin-right: auto;
}

.btn_module {
  border-radius: 4px;
  background: rgba(67, 112, 181, 0.1);
  width: 118px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4370B5;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
}
.btn_module:last-child {
  margin-bottom: 0;
}

.form_control {
  border-radius: 4px;
  border: 2px solid #DEE2E6;
  background: #FFF;
}
.form_control_min {
  width: 58px;
  height: 48px;
}

.table__time {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_seats {
  color: #3F444A;
  font-size: 16px;
  font-weight: 700;
  min-width: 80px;
  text-align: left;
}
.text_seats span {
  color: #AEAEAE;
  font-weight: 400;
}/*# sourceMappingURL=styles.css.map */