@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.bg_gray {
  background: #F4F4F4;
}

.osdrs {
  /***
      The new CSS reset - version 1.11.2 (last updated 15.11.2023)
      GitHub page: https://github.com/elad2412/the-new-css-reset
  ***/
  /*
      Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
      - The "symbol *" part is to solve Firefox SVG sprite bug
      - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
   */
  /* Preferred box-sizing value */
  /* Fix mobile Safari increase font-size on landscape mode */
  /* Reapply the pointer cursor for anchor tags */
  /* Remove list styles (bullets/numbers) */
  /* For images to not be able to exceed their container */
  /* removes spacing between cells in tables */
  /* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
  /* revert the 'white-space' property for textarea elements on Safari */
  /* minimum style to allow to style meter element */
  /* preformatted text - use only for this feature */
  /* reset default text opacity of input placeholder */
  /* fix the feature of 'hidden' attribute.
     display:revert; revert to element instead of attribute */
  /* revert for bug in Chromium browsers
     - fix for the content editable attribute will work properly.
     - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
  /* apply back the draggable feature - exist only in Chromium and Safari */
  /* Revert Modal native behavior */
  /* Remove details summary webkit styles */
  font-family: "Open Sans", sans-serif;
  color: #231F20;
  font-size: 15px;
  line-height: 1.4;
  margin-top: 50px;
  margin-bottom: 50px;
}
.osdrs *,
.osdrs *::before,
.osdrs *::after {
  box-sizing: border-box;
}
.osdrs html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
.osdrs a, .osdrs button {
  cursor: revert;
}
.osdrs ol, .osdrs ul, .osdrs menu, .osdrs summary {
  list-style: none;
}
.osdrs img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
.osdrs table {
  border-collapse: collapse;
}
.osdrs input, .osdrs textarea {
  -webkit-user-select: auto;
}
.osdrs textarea {
  white-space: revert;
}
.osdrs meter {
  -webkit-appearance: revert;
  appearance: revert;
}
.osdrs :where(pre) {
  all: revert;
  box-sizing: border-box;
}
.osdrs ::placeholder {
  color: unset;
}
.osdrs :where([hidden]) {
  display: none;
}
.osdrs :where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}
.osdrs :where([draggable=true]) {
  -webkit-user-drag: element;
}
.osdrs :where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}
.osdrs ::-webkit-details-marker {
  display: none;
}
.osdrs .box_white_block {
  background-color: #ffffff;
  padding: 35px 50px;
}
@media (max-width: 991.98px) {
  .osdrs .box_white_block {
    padding: 25px 30px;
  }
}
@media (max-width: 767.98px) {
  .osdrs .box_white_block {
    padding: 20px;
  }
}
.osdrs .to_back {
  color: #0872BA;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 158.334%;
  letter-spacing: 0.35px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
}
.osdrs .to_back svg {
  margin-right: 8px;
}
.osdrs .level_block {
  width: 85px;
  min-width: 85px;
}
@media (max-width: 991.98px) {
  .osdrs .level_block {
    width: 55px;
    min-width: 55px;
  }
}
.osdrs body {
  margin: 0;
}
.osdrs img {
  vertical-align: middle;
  border-style: none;
}
.osdrs .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .osdrs .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .osdrs .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .osdrs .container {
    max-width: 1140px;
  }
}
.osdrs .container_xl {
  max-width: 1000px;
}
.osdrs .container_lg {
  max-width: 954px;
}
.osdrs .container_min {
  max-width: 410px;
}
.osdrs body, .osdrs html {
  min-height: 100%;
}
.osdrs .text-left {
  text-align: left;
}
.osdrs .text-center {
  text-align: center !important;
}
.osdrs .text-right {
  text-align: right;
}
.osdrs .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.osdrs .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.osdrs .col-6,
.osdrs .col-12,
.osdrs .col-sm-6,
.osdrs .col-sm-4,
.osdrs .col-sm-8,
.osdrs .col-md-2,
.osdrs .col-md-3,
.osdrs .col-md-4,
.osdrs .col-md-5,
.osdrs .col-md-6,
.osdrs .col-md-8,
.osdrs .col-md-9,
.osdrs .col-lg-4,
.osdrs .col-lg-5,
.osdrs .col-lg-6,
.osdrs .col-lg-7,
.osdrs .col-lg-8,
.osdrs .col-lg-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.osdrs .row-min {
  margin-left: -8px;
  margin-right: -8px;
}
.osdrs .col-min {
  padding-left: 8px;
  padding-right: 8px;
}
.osdrs .col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.osdrs .order-1 {
  order: 1;
}
.osdrs .order-12 {
  order: 12;
}
@media (min-width: 576px) {
  .osdrs .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .osdrs .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .osdrs .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}
@media (min-width: 768px) {
  .osdrs .col-md-2 {
    flex: 0 0 auto;
    max-width: 16.666667%;
  }
  .osdrs .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .osdrs .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .osdrs .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .osdrs .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .osdrs .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .osdrs .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .osdrs .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .osdrs .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .osdrs .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .osdrs .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .osdrs .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .osdrs .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .osdrs .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .osdrs .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .osdrs .order-lg-1 {
    order: 1;
  }
  .osdrs .order-lg-12 {
    order: 12;
  }
  .osdrs .text-md-end {
    text-align: right;
  }
}
.osdrs .d-flex {
  display: flex;
}
.osdrs .align-items-start {
  align-items: start !important;
}
.osdrs .align-items-center {
  align-items: center;
}
.osdrs .align-items-revert {
  align-items: revert !important;
}
.osdrs .justify-content-center {
  justify-content: center;
}
.osdrs .justify-content-between {
  justify-content: space-between;
}
.osdrs ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.osdrs tbody::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.osdrs ::-webkit-scrollbar-track {
  border-radius: 0px;
}
.osdrs ::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #1E1E1E;
}
.osdrs ::-webkit-scrollbar-thumb:window-inactive {
  background: #1E1E1E;
}
.osdrs .h2, .osdrs .title, .osdrs .h3 {
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
.osdrs .h2,
.osdrs .text-xl {
  color: #252525;
  font-size: 24px;
}
@media (max-width: 991.98px) {
  .osdrs .h2,
  .osdrs .text-xl {
    font-size: 22px;
  }
}
.osdrs .title,
.osdrs .h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  letter-spacing: 0.35px;
}
@media (max-width: 991.98px) {
  .osdrs .title,
  .osdrs .h3 {
    font-size: 20px;
  }
}
@media (max-width: 575.98px) {
  .osdrs .title,
  .osdrs .h3 {
    font-size: 18px;
  }
}
.osdrs .text-lg {
  font-size: 18px;
}
@media (max-width: 1200px) {
  .osdrs .text-lg {
    font-size: 17px;
  }
}
.osdrs .text-md {
  color: #231F20;
  font-size: 16px;
  letter-spacing: 0.35px;
}
@media (max-width: 1200px) {
  .osdrs .text-md {
    font-size: 15px;
  }
}
.osdrs .text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1200px) {
  .osdrs .text {
    font-size: 14px;
  }
}
.osdrs .text_min {
  font-size: 12px;
}
.osdrs a {
  color: #206BAA;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}
.osdrs a:hover {
  color: #135287;
}
.osdrs .color_white {
  color: #ffffff !important;
}
.osdrs .color_dark_black {
  color: #000000 !important;
}
.osdrs .color_black {
  color: #231F20 !important;
}
.osdrs .color_gray {
  color: #AEAEAE !important;
}
.osdrs .color_blue {
  color: #4370B5 !important;
}
.osdrs .color_red {
  color: #F44336 !important;
}
.osdrs .fw-400 {
  font-weight: 400 !important;
}
.osdrs .fw-600 {
  font-weight: 600 !important;
}
.osdrs .fw-700 {
  font-weight: 700 !important;
}
.osdrs .w-100 {
  width: 100% !important;
}
.osdrs .text-underline {
  text-decoration: underline;
}
.osdrs .border-bottom {
  border-bottom: 1px solid #E1E1E1;
}
.osdrs .border-none {
  border: none !important;
}
.osdrs .pl-0 {
  padding-left: 0px !important;
}
.osdrs .pl-20 {
  padding-left: 20px;
}
.osdrs .pr-0 {
  padding-right: 0 !important;
}
.osdrs .pt-10 {
  padding-top: 10px;
}
.osdrs .pb-0 {
  padding-bottom: 0px !important;
}
.osdrs .ml-auto {
  margin-left: auto;
}
.osdrs .mr-auto {
  margin-right: auto;
}
.osdrs .m-0 {
  margin: 0 !important;
}
.osdrs .ml-0 {
  margin-left: 0 !important;
}
.osdrs .mr-0 {
  margin-right: 0 !important;
}
.osdrs .mr-05 {
  margin-right: 5px !important;
}
.osdrs .mr-10 {
  margin-right: 10px !important;
}
@media (max-width: 991.98px) {
  .osdrs .mr-10 {
    margin-right: 5px !important;
  }
}
.osdrs .mr-20 {
  margin-right: 20px;
}
.osdrs .mr-30 {
  margin-right: 30px;
}
.osdrs .mt-10 {
  margin-top: 10px;
}
.osdrs .mb-0 {
  margin-bottom: 0px !important;
}
.osdrs .mb-05 {
  margin-bottom: 5px;
}
.osdrs .mb-10 {
  margin-bottom: 10px;
}
.osdrs .mb-15 {
  margin-bottom: 15px;
}
.osdrs .mb-20 {
  margin-bottom: 20px;
}
.osdrs .mb-25 {
  margin-bottom: 25px;
}
.osdrs .mb-30 {
  margin-bottom: 30px;
}
.osdrs .mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .osdrs .mb-40 {
    margin-bottom: 20px;
  }
}
.osdrs .l-spacing-normal {
  letter-spacing: normal;
}
.osdrs .img-fluid {
  max-width: 100%;
  height: auto;
}
.osdrs .gap-20 {
  gap: 20px;
}
.osdrs .ws_nowrap {
  white-space: nowrap;
}
.osdrs .table_responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.osdrs .table_custom {
  width: 100%;
}
.osdrs .table__th {
  color: #AEAEAE;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.35px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E1E1E1;
  white-space: nowrap;
}
.osdrs .table__th:first-child {
  text-align: left;
}
.osdrs .table__th_min {
  padding-left: 10px;
  padding-right: 10px;
}
.osdrs .table__td {
  padding: 45px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
}
@media (max-width: 991.98px) {
  .osdrs .table__td {
    padding: 25px;
  }
}
@media (max-width: 767.98px) {
  .osdrs .table__td {
    padding: 20px 15px;
  }
}
.osdrs .table__td_first {
  text-align: left;
  padding-left: 0;
  border-right: 1px solid #E1E1E1;
  vertical-align: top;
}
.osdrs .table__td_min {
  padding: 10px;
}
.osdrs .table__title {
  color: #231F20;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.35px;
  margin-bottom: 4px;
  white-space: nowrap;
}
@media (max-width: 991.98px) {
  .osdrs .table__title {
    font-size: 20px;
  }
}
.osdrs .table__text {
  color: #767676;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.35px;
}
@media (max-width: 767.98px) {
  .osdrs .table__text {
    font-size: 13px;
  }
}
.osdrs .form_select {
  border-radius: 4px;
  border: 2px solid #DEE2E6;
  outline: none !important;
  background: #FFF;
  color: #3F444A;
  font-size: 16px;
  font-weight: 600;
  padding-left: 24px;
  width: 76px;
  height: 48px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../img/icon/select_arrow.svg") no-repeat right 15px center;
  transition: all 0.3s;
}
.osdrs .wrapper_table_min {
  margin-top: 30px;
  max-width: 330px;
  margin-left: auto;
}
.osdrs .table_min {
  width: 100%;
}
.osdrs .table_min__caption {
  color: #0872BA;
  font-size: 24px;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
}
.osdrs .table_min__td {
  color: #231F20;
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #E1E1E1;
}
.osdrs .table_min__svg {
  margin-left: 20px;
  margin-right: 20px;
}
.osdrs .exam_list__title {
  color: #AEAEAE;
  font-size: 15px;
  letter-spacing: 0.35px;
  font-weight: 400;
  text-align: left;
  padding: 5px 15px;
  white-space: nowrap;
}
.osdrs .exam_list__title_first {
  padding-left: 10px;
  min-width: 280px;
  width: 280px;
}
.osdrs .exam_list__title_three {
  padding-left: 5px;
  padding-right: 30px;
}
.osdrs .exam_list__title:last-child {
  padding-right: 6px;
}
.osdrs .exam_list__item {
  margin-bottom: 20px;
}
.osdrs .exam_info {
  padding-top: 6px;
  padding-bottom: 6px;
}
.osdrs .exam_info__inner {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 10px;
  border-radius: 4px;
  justify-content: space-between;
  width: 100%;
}
.osdrs .exam_info__inner.completed {
  background-color: #DAE4CD;
}
.osdrs .exam_info__status {
  padding-left: 15px;
  padding-right: 15px;
}
.osdrs .exam_info__person {
  padding-left: 15px;
  padding-right: 15px;
  white-space: nowrap;
}
.osdrs .exam_info__date {
  padding-left: 15px;
  padding-right: 0;
}
.osdrs .exam_info__status {
  min-width: 20px;
  background-image: url("../img/png/checkbox_off.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px;
}
.osdrs .completed .exam_info__inner {
  background-color: #DAE4CD;
}
.osdrs .completed .exam_info__status {
  background-image: url("../img/png/checkbox_on.png");
}
.osdrs .exam_order {
  display: flex;
  align-items: center;
  min-width: 290px;
  width: 290px;
}
.osdrs .exam_order__num {
  color: #0872BA;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration-line: underline;
  margin-right: 15px;
}
.osdrs .exam_order__date {
  color: #F44336;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
.osdrs .pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.osdrs .pagination__link {
  padding: 3px 7px;
  border: 1px solid #CFC8D8;
  margin-left: -1px;
  color: #4370B5;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.35px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}
.osdrs .pagination__link:first-child .pagination__link {
  margin-left: 0;
}
.osdrs .pagination__link.active {
  background: #E9E6ED;
}
.osdrs .pagination__link_prev svg {
  margin-top: 2px;
}
.osdrs .pagination__link_next svg {
  transform: rotate(180deg);
}
.osdrs .pagination__dots {
  color: #4370B5;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
}
.osdrs .module_info {
  display: flex;
}
.osdrs .module_info__item {
  width: 33.33%;
  padding-left: 20px;
  padding-right: 20px;
}
.osdrs .btn_custom:focus {
  outline: none !important;
  box-shadow: none;
}
.osdrs .btn_custom {
  cursor: pointer !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  transition: all 0.5s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 0px;
  background-color: transparent;
  letter-spacing: 0.35px;
  border: none;
}
.osdrs .btn_custom[disabled], .osdrs .btn_custom.disabled {
  opacity: 0.4;
  cursor: no-drop;
}
.osdrs .btn_custom_black {
  background-color: #000000;
  color: #ffffff !important;
}
.osdrs .btn_custom_black .st_1 {
  stroke: #ffffff;
}
.osdrs .btn_custom_black:hover {
  background-color: #3C4043;
}
.osdrs .btn_custom_blue {
  background-color: #206BAA;
  color: #ffffff !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.osdrs .btn_custom_blue:hover {
  background-color: #135287;
}
.osdrs .btn_custom_green {
  background-color: #43A047;
  color: #ffffff !important;
}
.osdrs .btn_custom_green .st_1 {
  stroke: #ffffff;
}
.osdrs .btn_custom_green:hover {
  background-color: #319035;
}
.osdrs .btn_custom_green:hover .st_1 {
  stroke: #ffffff;
}
.osdrs .btn_custom_gray {
  background-color: #808080;
  color: #ffffff !important;
}
.osdrs .btn_custom_gray:hover {
  background-color: #808080;
}
.osdrs .btn_custom_big {
  max-width: 100%;
  width: 260px;
}
.osdrs .btn_custom_min {
  max-width: 100%;
  width: 150px;
}
.osdrs .btn_custom_radius {
  border-radius: 4px;
}
.osdrs .btn_custom_h_52 {
  min-height: 52px;
}
.osdrs .exam_modul {
  padding: 10px 24px;
  border: 1px dashed #E1E1E1;
  background: rgba(236, 241, 248, 0.21);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
@media (max-width: 767.98px) {
  .osdrs .exam_modul {
    display: block;
    max-width: 380px;
    margin: 0 auto 20px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.osdrs .exam_modul__item_exam {
  display: flex;
  align-items: center;
  width: 40%;
}
@media (max-width: 767.98px) {
  .osdrs .exam_modul__item_exam {
    width: 100%;
    margin-bottom: 20px;
  }
}
.osdrs .exam_modul__name_exam {
  padding-left: 30px;
}
@media (max-width: 991.98px) {
  .osdrs .exam_modul__name_exam {
    padding-left: 15px;
  }
}
.osdrs .exam_modul__text {
  color: #AEAEAE;
  font-size: 14px;
  letter-spacing: 0.35px;
}
.osdrs .exam_modul__payment_amount {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
}
@media (max-width: 991.98px) {
  .osdrs .exam_modul__payment_amount {
    padding-left: 10px;
    padding-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .osdrs .exam_modul__payment_amount {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
    justify-content: end;
  }
}
.osdrs .exam_modul__svg {
  margin-right: 20px;
}
@media (max-width: 991.98px) {
  .osdrs .exam_modul__svg {
    margin-right: 10px;
  }
}
@media (max-width: 767.98px) {
  .osdrs .exam_modul__edit_block {
    text-align: right;
  }
}
.osdrs .candidate_info {
  font-size: 22px;
  font-weight: 700;
  margin-right: 30px;
}
@media (max-width: 991.98px) {
  .osdrs .candidate_info {
    margin-right: 10px;
    font-size: 20px;
  }
}
.osdrs .all_price {
  font-size: 22px;
  font-weight: 700;
}
.osdrs .text_md {
  color: #AEAEAE;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.osdrs .calendar_block {
  border-radius: 4px;
  border: 2px solid #DEE2E6;
  background: #ECEFF1;
  padding: 34px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 118px;
  height: 98px;
}
.osdrs .calendar_block__title {
  font-size: 22px;
  font-weight: 700;
}
.osdrs .calendar_block__subtitle {
  color: #AEAEAE;
  font-size: 15px;
}
.osdrs .calendar_block_min {
  width: 100px;
  height: 84px;
  margin-left: auto;
  margin-right: auto;
}
.osdrs .wrapper_table_module {
  max-width: 835px;
  margin-left: auto;
  margin-right: auto;
}
.osdrs .btn_module {
  border-radius: 4px;
  background: rgba(67, 112, 181, 0.1);
  width: 118px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4370B5;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
}
.osdrs .btn_module:last-child {
  margin-bottom: 0;
}
.osdrs .form_control {
  border-radius: 4px;
  border: 2px solid #DEE2E6;
  background: #FFF;
}
.osdrs .form_control_min {
  width: 58px;
  height: 48px;
}
.osdrs .table__time {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.osdrs .text_seats {
  color: #3F444A;
  font-size: 16px;
  font-weight: 700;
  min-width: 80px;
  text-align: left;
}
.osdrs .text_seats span {
  color: #AEAEAE;
  font-weight: 400;
}
.osdrs .payment_info {
  border-radius: 4px;
  background: #CEE741;
  padding: 23px 28px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 575.98px) {
  .osdrs .payment_info {
    display: block;
    padding: 15px;
  }
}
.osdrs .payment_info__seats {
  width: 63px;
  min-width: 63px;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #231F20;
  color: #CEE741;
  font-size: 20px;
  margin-right: 20px;
}
@media (max-width: 575.98px) {
  .osdrs .payment_info__seats {
    margin-right: 15px;
  }
}
.osdrs .confirm_block {
  display: flex;
  align-items: center;
}
@media (max-width: 575.98px) {
  .osdrs .confirm_block {
    margin-bottom: 15px;
  }
}
.osdrs .extend_block {
  padding-left: 20px;
  margin-bottom: 8px;
}
@media (max-width: 575.98px) {
  .osdrs .extend_block {
    margin-bottom: 0px;
    text-align: right;
  }
}
.osdrs .wrapper_exam_dates {
  background-color: #fff;
  padding: 40px 50px;
}
@media (max-width: 1200px) {
  .osdrs .wrapper_exam_dates {
    padding: 30px 40px;
  }
}
@media (max-width: 767.98px) {
  .osdrs .wrapper_exam_dates {
    padding: 20px;
  }
}
.osdrs .exam_dates {
  margin-bottom: 40px;
}
.osdrs .exam_dates__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  border-bottom: 1px solid #E1E1E1;
  padding-bottom: 24px;
  padding-top: 24px;
}
@media (max-width: 991.98px) {
  .osdrs .exam_dates__line {
    flex-wrap: wrap;
  }
}
.osdrs .exam_dates__item {
  padding-left: 25px;
  padding-right: 25px;
}
@media (max-width: 1200px) {
  .osdrs .exam_dates__item {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .osdrs .exam_dates__item {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.osdrs .exam_dates__item:first-child {
  padding-left: 0;
}
.osdrs .exam_dates__item:last-child {
  padding-right: 0;
}
@media (max-width: 991.98px) {
  .osdrs .exam_dates__item:nth-child(1), .osdrs .exam_dates__item:nth-child(2) {
    margin-bottom: 20px;
  }
}
.osdrs .location_block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  background: #ECEFF1;
  color: #AEAEAE;
  font-family: "Open Sans";
  font-size: 15px;
  letter-spacing: 0.35px;
  margin-right: 12px;
}
@media (min-width: 1200px) {
  .osdrs .left_cart_block {
    padding-right: 15px;
  }
}
.osdrs .cart_block {
  padding: 15px 10px;
  background-color: #fff;
  margin-bottom: 60px;
}
@media (max-width: 991.98px) {
  .osdrs .cart_block {
    margin-bottom: 38px;
  }
}
.osdrs .cart_block_dop {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 1200px) {
  .osdrs .cart_block_dop {
    padding-left: 0;
    padding-right: 0px;
    padding-top: 42px;
    padding-bottom: 42px;
  }
}
.osdrs .cart_block__inner {
  max-width: 436px;
  margin-left: auto;
  margin-right: auto;
}
.osdrs .cart_block__exam_name {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 24px;
}
.osdrs .cart_examimg {
  width: 63px;
  min-width: 63px;
}
.osdrs .cart_table {
  max-width: 400px;
  padding-top: 6px;
  padding-bottom: 24px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  margin-left: auto;
}
.osdrs .cart_table__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.osdrs .cart_table__text_min {
  color: #AEAEAE;
  font-size: 12px;
}
.osdrs .cart_table__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.osdrs .cart_table__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.osdrs .item_seats {
  min-width: 40px;
}
.osdrs .line_price {
  min-width: 50px;
  text-align: right;
}
.osdrs .total_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 28px;
  border-bottom: 1px solid #E1E1E1;
  margin-top: 28px;
  margin-bottom: 28px;
}
.osdrs .group_btns {
  display: flex;
  gap: 8px;
}
.osdrs .input_code {
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  height: 54px;
  width: 100%;
  max-width: 168px;
  color: #AEAEAE;
  font-size: 16px;
  padding: 5px;
  text-align: center;
  outline: none !important;
}
@media (min-width: 1200px) {
  .osdrs .right_cart_block {
    padding-left: 15px;
  }
}
.osdrs .add_offers {
  align-items: center;
  gap: 16px;
}
@media (min-width: 992px) {
  .osdrs .add_offers {
    display: flex;
  }
}
@media (max-width: 991.98px) {
  .osdrs .add_offers__left {
    text-align: center;
    margin-bottom: 20px;
  }
}
.osdrs .wrapper_price_block {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .osdrs .wrapper_price_block {
    margin-bottom: 15px;
  }
}
.osdrs .old_price {
  color: #231F20;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.246px;
  position: relative;
}
.osdrs .old_price:before {
  content: "";
  width: 100%;
  height: 2px;
  background: #0872BA;
  position: absolute;
  top: 13px;
}
.osdrs .new_price {
  color: #0872BA;
  font-size: 22px;
  font-weight: 700;
}
.osdrs .page_content {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 767.98px) {
  .osdrs .page_content {
    display: block;
  }
}
.osdrs .nav_block {
  width: 30%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767.98px) {
  .osdrs .nav_block {
    width: 100%;
  }
}
.osdrs .wrapper_information_block {
  width: 70%;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 767.98px) {
  .osdrs .wrapper_information_block {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .osdrs .wrapper_left_block {
    padding-right: 20px;
  }
}
.osdrs .attention_block {
  border-radius: 4px;
  border: 1px solid #F29D38;
  background: #FCE8A0;
  padding: 30px 25px;
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991.98px) {
  .osdrs .attention_block {
    padding: 25px 20px;
  }
}
@media (max-width: 767.98px) {
  .osdrs .attention_block {
    margin-bottom: 30px;
  }
}
.osdrs .attention_block_green {
  border: 1px solid #43A047;
  background: #C9F0CB;
}
.osdrs .attention_block_white {
  border: 1px solid #E0E0E0;
  background: #FFF;
}
.osdrs .attention_block_mwnone {
  max-width: none;
}
.osdrs .attention_block__inner {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.osdrs .attention_block__top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.osdrs .attention_img {
  width: 32px;
}
.osdrs .white_box {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 48px;
  gap: 12px;
}
@media (max-width: 991.98px) {
  .osdrs .white_box {
    padding: 25px 20px;
  }
}
.osdrs .detaials_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.osdrs .detaials_block__item {
  width: 33.33%;
}
@media (max-width: 991.98px) {
  .osdrs .detaials_block__item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media (max-width: 575.98px) {
  .osdrs .detaials_block__item {
    width: 100%;
    margin-bottom: 20px !important;
  }
}
.osdrs .wrapper_candidates {
  width: 100%;
}
.osdrs .candidates_top {
  display: flex;
  padding-left: 45px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.osdrs .candidates_top__title {
  color: #252525;
  font-size: 18px;
  font-weight: 600;
}
.osdrs .candidates_top__title_1 {
  width: 40%;
}
.osdrs .candidates_top__title_2 {
  width: 45%;
}
.osdrs .candidates_top__title_3 {
  width: 15%;
  text-align: right;
}
.osdrs .candidate_block_item {
  margin-bottom: 20px;
}
.osdrs .black_top_line {
  padding: 14px 15px;
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
  border-radius: 4px;
  background: #1A1A1A;
}
.osdrs .candidates {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.osdrs .candidates__inner {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 12px 15px;
  border-radius: 4px;
  width: 100%;
  gap: 20px;
}
.osdrs .candidates__user {
  width: 38%;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .osdrs .candidates__user {
    display: block;
  }
}
.osdrs .candidates__module {
  width: 47%;
}
.osdrs .candidates__edit {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.osdrs .candidates__foto {
  background-image: url("../img/png/user_default.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 40px;
  width: 46px;
  height: 46px;
  min-width: 46px;
}
.osdrs .candidates__name {
  color: #252525;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  white-space: nowrap;
}
.osdrs .candidates.cancelled .candidates__inner {
  opacity: 0.5;
}
.osdrs .module_item {
  border-radius: 4px;
  background: rgba(67, 112, 181, 0.1);
  padding: 10px;
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-bottom: 5px;
  min-width: 290px;
  min-height: 40px;
}
.osdrs .module_item:last-child {
  margin-bottom: 0;
}
.osdrs .check_green {
  width: 34px;
  min-width: 34px;
}
.osdrs .submitting_block {
  padding: 25px 20px;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-bottom: 30px;
}
@media (max-width: 991.98px) {
  .osdrs .submitting_block {
    display: block;
  }
}
.osdrs .submitting_block_left {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 991.98px) {
  .osdrs .submitting_block_left {
    margin-bottom: 20px;
  }
}
@media (max-width: 991.98px) {
  .osdrs .submitting_block_right {
    text-align: center;
  }
}
.osdrs .icon_info {
  width: 48px;
  min-width: 48px;
}
.osdrs .popover_block {
  position: absolute;
  bottom: -62px;
  right: 0;
  z-index: 1060;
  display: block;
  width: 450px;
  max-width: 100%;
}
.osdrs .popover_block_left {
  top: 35px;
  left: 0;
  right: auto;
  bottom: auto;
}
.osdrs .popover_block_left .popover_arrow:after {
  left: 22%;
}
.osdrs .popover_arrow:after {
  content: "";
  top: -10px;
  border-color: transparent;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-bottom-color: #FCE8A0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  display: block;
}
.osdrs .popover_content {
  padding: 15px 30px;
  background: #FCE8A0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.osdrs .popover_img {
  width: 32px;
}
.osdrs .exam_information {
  display: flex;
  justify-content: space-between;
  border: 1px dashed #E1E1E1;
  background: #FFF;
  padding: 10px 20px;
}
@media (max-width: 991.98px) {
  .osdrs .exam_information {
    flex-wrap: wrap;
  }
}
.osdrs .exam_information__item {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 1200px) {
  .osdrs .exam_information__item {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 991.98px) {
  .osdrs .exam_information__item {
    width: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (max-width: 991.98px) {
  .osdrs .exam_information__item:nth-child(2):after {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .osdrs .exam_information__item:nth-child(3):after {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .osdrs .exam_information__item:nth-child(3), .osdrs .exam_information__item:nth-child(4) {
    width: 100%;
  }
}
.osdrs .exam_information__item:after {
  position: absolute;
  right: 0;
  content: "";
  width: 1px;
  height: 85px;
  background-image: url("../img/icon/icon_line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
}
.osdrs .exam_information__item:last-child:after {
  display: none;
}
.osdrs .number_ticket {
  min-width: 110px;
}
.osdrs .white_box_min {
  background: #ffffff;
  padding: 20px;
  border-radius: 4px;
}
.osdrs .wrapper_upload {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: -7px;
}
.osdrs .cancel_link {
  color: #F44336;
  transition: all 0.3s;
  font-weight: 700;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 8px;
}
.osdrs .cancel_link .fill_1 {
  fill: #F44336;
  transition: all 0.3s;
}
.osdrs .cancel_link:hover {
  color: #F31100;
}
.osdrs .cancel_link:hover .fill_1 {
  fill: #F31100;
}
.osdrs .cancel_link[disabled], .osdrs .cancel_link.disabled {
  opacity: 0.4;
}
.osdrs .participant_block {
  position: relative;
}
.osdrs .passport_user {
  max-width: 270px;
}
.osdrs .upload_right_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.osdrs :root {
  --Primary-Base-Black: #252525;
  --Primary-Base-Red: #F44336;
}
.osdrs .form__control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AEAEAE;
  font-weight: 400;
}
.osdrs .form__control::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
  font-weight: 400;
}
.osdrs .form__control:-ms-input- { /* IE 10+ */
  color: #AEAEAE;
  font-weight: 400;
}
.osdrs .form__control:-moz-placeholder { /* Firefox 18- */
  color: #AEAEAE;
  font-weight: 400;
}
.osdrs .form__label {
  color: var(--Primary-Base-Black);
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 14px;
  display: inline-block;
}
@media (max-width: 1200.98px) {
  .osdrs .form__label {
    font-size: 16px;
  }
}
.osdrs .form__label span {
  color: var(--Primary-Base-Red);
}
.osdrs .form__control {
  border-radius: 2px;
  border: 1px solid #E0E0E0;
  background: #ffffff;
  padding: 8px;
  color: #252525;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.246px;
  height: 38px;
  width: 100%;
  outline: none;
  position: relative;
}
.osdrs .form__control_birthday {
  padding-right: 30px;
}
.osdrs .form__select {
  outline: none;
  border: 1px solid #E0E0E0;
  padding: 8px;
  height: 38px;
  width: 100%;
  color: #252525;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.246px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #ffffff url(../img/png/arrow_down.png) no-repeat right 10px center;
}
.osdrs .form__textarea {
  height: 115px;
  max-height: 115px;
}
.osdrs .wrapper_birthday {
  position: relative;
}
.osdrs .wrapper_birthday:after {
  content: "";
  background-image: url("../img/png/icon_calendar.png");
  background-size: 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}
.osdrs .validated .form__control {
  border-color: #6dc22e;
}
.osdrs .no_validated .form__label {
  color: #a00;
}
.osdrs .no_validated .form__control {
  border-color: #a00;
}
.osdrs .text_form {
  font-size: 14px;
  line-height: 128.571%;
}
.osdrs .form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
}
.osdrs .form__input_checkbox {
  position: absolute;
  width: 0;
  left: 0p;
  height: 0;
  opacity: 0;
}
.osdrs .form__checkmark {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 3px;
  outline: 1px solid #acacac;
  transition: all 0.2s ease;
}
.osdrs .form__checkbox:hover .form__checkmark {
  background: #f4f4f5;
  transition: all 0.2s ease;
}
.osdrs .form__input_checkbox:checked ~ .form__checkmark {
  background: #206BAA;
  outline: 1px solid #206BAA;
}
.osdrs .form__checkmark::after {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top: 40%;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: all 0.2s ease;
}
.osdrs .form__input_checkbox:checked ~ .form__checkmark::after {
  opacity: 1;
  transition: all 0.2s ease;
}
.osdrs .port_photo_img {
  width: 156px;
  height: 156px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.osdrs .filter_block {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}/*# sourceMappingURL=styles.css.map */